.add-task-button {
    padding: 6px 12px;
    background-color: black;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;

    &:not(:disabled) {
        &:hover {
        border: 1px solid black;
        background-color: white;
        color: black;
    }

        &:active {
        scale: 1.05;
        }
    }

    &:disabled {
        background-color: grey;
        border-color: grey;
        cursor: not-allowed;
    }
}

.scroll-to-task-button {
    margin-bottom: 10px;
}