.search-task-form {
    display: flex;
    position: relative;
    width: 100%;
}

.search-task-form .field {
    flex: 1;
}

.search-task-input {
    width: 100%;
    box-sizing: border-box;
}

.search-task-img {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 5px;
    right: 8px;
}