.container {
    background-color: white;
    border-radius: 14px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 12px;
}

.title {
    font-size: 48px;
    margin: 0 auto;
}