.list-item {
    display: flex;
    border: 1px solid black;
    padding: 6px 12px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    &:hover {
        background-color: rgb(243, 243, 243);
    }
}

input[type="checkbox"] {  
    accent-color: grey;  
}  

.delete-task-button {
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

.delete-task-img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.is-done {
    color: gray;
    text-decoration: line-through;
}